.image-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
    position: relative;
    .card_container {
        position: relative;
        background-color: white;
        box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
        margin: 10px;
        & > img {
            width: 100%;
        }
    }
}

